.about-mainContainer{
    display: flex;
    flex-direction: column;
    margin-top: 4vmax;
}
.about-meDetail{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.about-meDetail h3{
    font: 500 2rem "Rubik";
    color: #fff;
}
.about-meDetail p{
margin-top: 3vmax;
color: #fff;
line-height: 1.5rem;
font: 500 1.2vmax "Roboto";
}
.about-tabContainer{
    width: 40%;
    margin: 0 auto;
    height: 50vh;
}

.tabTitles {
    display: flex;
    margin-top: 2rem;
  }
  
  .tabLinks {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: #fff;
    font: 500 1.3vmax "Roboto";
    transition: color 0.3s;
    position: relative;
    overflow: hidden;
  }
  
  .tabLinks::before,
  .tabLinks::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
  }
  .activeLink{
    color: #fff;
  }
  .tabLinks::before {
    top: 0;
    left: -100%;
    animation: slideIn 1s forwards;
    color: #fff;

  }
  
  .tabLinks::after {
    bottom: 0;
    right: -100%;
    animation: slideIn 1s 0.5s forwards;
  }
  
  @keyframes slideIn {
    to {
      left: 100%;
      right: 100%;
    }
  }
  
  .tabLinks:hover {
    color: 
    #e81ede
    ;
  }
  
  .activeLink {
    color: #131dd4;
    font-weight: bold;
  }
  
  .tabContents {
    display: none;
    margin-top: 1rem;
  }
  
  .activeTab {
    display: block;
  }
  
  .tabContents ul {
    list-style: none;
    padding: 0;
  }
  
  .tabContents li {
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    background: #fff;
    border-radius: 0.5rem;
    font: 500 1vmax "Rubik";
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #e3570b;
    transition: transform 0.3s;
  }
  
  .tabContents li:hover {
    transform: translateY(-5px);
  }
  
  .tabContents li span {
    font-weight: bold;
    margin-right: 1vmax;
    color: red;
  }